body {
  margin-top: 60px;
  background-color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  color: white;
  text-align: center;
}

h1 {
  color:yellow;
}

.nine {
  display: flex;
  justify-content: center;
}

.drum-pad{
  background-color: #F0B27A;
  border: 8px outset #EB984E;
  line-height: 50px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  width: 20vw;
  height: 20vw;
}

@media screen and (min-width: 600px) {
  .drum-pad {
    width: 100px;
    height: 100px;
  }
}

@media screen and (orientation: landscape) {
  .drum-pad {
    width: 20vh;
    height: 20vh;
  }
}

.drum-pad:hover {
  background-color: red;
  border: 8px outset salmon;
}

.slider {
    -webkit-appearance: none;
    width: 20%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
